@import 'src/styles/shared/colors';
@import 'src/styles/shared/variables';

.chart {
  width: 600px;
  height: 400px;
  background-color: $color-chart;
  border-radius: $border-radius;
  padding: $spacing-largeL;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: $color-white;
  font-size: $spacing-large;
  margin-bottom: $spacing-medium;
}
